.clipper {
    overflow: hidden;
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%); 
    position: absolute;
    object-fit: cover;
}

.clipper2:after {
    content: "";
    position: absolute;
    bottom: 0%;
    width: 50%;
    z-index: 1;
    display: block;
    height: 100%;
    right: -25%;
    color: #BD3124;
    background-color: #BD3124;
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%); 
}